a { text-decoration: none; }




div#tekst_sverhu_kartinki {

    position: relative;
    
    }
    
    .tekst_sverhu_kartinki_1 {
    
    position: absolute;
    
    bottom: 10%;
    
    text-transform: uppercase;
    
    color: #c9c9c9;
    
    width: 300px;
    
    }
    
    .tekst_sverhu_kartinki_1 span {
    
    font: bold 24px/44px Helvetica, Sans-Serif;
    
    background: #00000094;
    
    padding: 8px;
    
}

/* .flash {
    width: 360px;
    position: relative;
    margin: 0 auto 20px auto;
    padding: 25px 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.1),
    inset 0 1px 0 rgba(255,255,255,0.6);
    opacity: 0;
    cursor: default;
    display: none;
   } */


div#flash_message_blog {
    padding: 12px;
    border-radius: 25px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    margin-right: 500px;
    margin-left: 500px;
    text-align: center;
}

div#flash_message_blog.alert-error {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid darkred;
    background-color: red;
    color: white;
    
    }
    






ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
html,
body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}