{% extends 'base.html' %}

{% block title %}
  
    Calendar

{% endblock %}
   
{% block content_title %}
  <h4>   
   Date -   {{  dateq  }}
</h4>


        
{% endblock %}    

{% block content %}
    
 
    <div>
        <style>

            table {
             line-height: 1.9; 
             word-spacing: 30px;
             letter-spacing: 2px;
            }
            
            </style>
        
        
        <hr>
        
            <table  cellpadding="8"  {{ calendarq()|safe }}></table> 
        
        <hr>
    </div>      
          
    
    
{% endblock %}