{% extends 'base.html' %}

{% block title %}
  
    Create new post

{% endblock %}

{% block content_title %}
     
    <h4>New post</h4>
        
{% endblock %}    

{% block content %}
   
    <div class="col-md-6">

        <form action="{{ url_for('main.create_post',  next=request.endpoint) }}" , method="POST">
            {% for field in form %}
            <style>
                #body {
                    width:  630px;
                    height: 400px;
                    
                }
                </style>
           
            <div class="form-group">

                 <br> 
                {{ field.label(class = 'control-label') }}
              
                {{ field(class = 'form-control') }}
            
            </div>    
            {% endfor %}   
            
            <br>
            <button type="submit" class="btn btn-success">Create</button>



        </form>     
    </div>
{% endblock %}