{% extends 'base.html' %}d

{% block content_title %}
    Posts
{% endblock %}

{% block content %}

    {% for post in posts %}
        
        <p>
            <a href="{{ url_for('main.post_detail', slug = post.slug) }}" style="text-decoration:none;"> {{ post.title }} </a>
        </p>


    {% endfor %}

        <div class="classr" style="background-color:#1AB99E;">
            <p>
                <a href="{{ url_for('main.date_today', calendar= caln)}}">
            </p>
        </div>


{% endblock %}    