{% extends 'base.html' %}


      



  
{% block content_title %}
    Posts

    {%for  msg in get_flashed_messages()%}
                    
    <div class="flashes">
       <samp display= "block"  style ="background-color:rgba(236, 236, 236, 0.77); color: rgba(83, 88, 84, 0.952) ; text-align: center " >{{ msg }}</samp>
    </div>
    
    {% endfor %}
{% endblock %}

{% block content %}
    
  




    {% for post in pages.items %}
        
        <p>
            <a href="{{ url_for('main.post_detail', slug = post.slug) }}" style="text-decoration:none;"> {{ post.title }} </a>
        </p>


    {% endfor %}


    <nav>
        <ul class="pagination pagination-sm">
         
          {% for page in pages.iter_pages() %}
          <li class="page-item"  {% if not pages.has_prev %} class="page-item disabled"{% endif %}>
                <a class="page-link" href="/blog?page={{ page }}">{{ page }}</a></li>
          {% endfor %}
        </ul>
      </nav>
       
    
{% endblock %}    