{% extends 'base.html' %}

  
  {% block content_title %}
      <!--Заголовок поста + кнопка "створити пост"  -->
      <div id="post">
          
          <style>
            #post{
              display:inline-flex;
            }
            #button_c{
              display: inline-flex;
              margin-left: 900px;
            }  
          </style>

         <h3>  Posts: </h3> 
        <!-- якщо користувач авторизований + має рівень доступу, відображается кнопка "створити пост"-->
        
        {%if current_user.is_authenticated and  current_user.can(Permission.WRITE)%}
        <a id="button_c"  class="nav-link active" aria-current="page"  href="{{ url_for('main.create_post') }}">create post</a>
        {% endif %}

      </div>


         <!-- спливаючі сповіщення -->
         {% for category, message in get_flashed_messages(with_categories=True) %}
         <div id="flash_message_blog" class="alert-{{category}}">{{category}}: {{ message }}</div>
         {% endfor %}
 
 {% endblock %}




  {% block content %}
      <!-- заголовок поста для перегляду + кількість вподобань, вподобати/скасувати вподобання  -->    
      {% for post in pages.items %}

        <p>
          <br>
            <a href="{{ url_for('main.post_detail', slug = post.slug) }}" style="text-decoration:none;"> {{ post.title }} 
              <span id="likes-count-{{post.id}}"> <text>-</text>
            {% if current_user.is_authenticated %}
              {% if current_user.has_liked_post(post) %}
                <a href="{{ url_for('main.like_action', post_id=post.id, action='unlike') }}">Unlike</a>
              {% else %}
                <a href="{{ url_for('main.like_action', post_id=post.id, action='like') }}">Like</a>
              {% endif %}
              {% endif %}
        {{ post.likes.count() }} likes
            </a>
        </p>

    {% endfor %}


    <!-- пагінація по сторінках -->
      <nav> 
        <br>
        <style>
      
          #pagination_index{
            margin-top: 400px;
          }

        </style>
      <ul id="pagination_index" class="pagination" >
       
            <li {%if not pages.has_prev%} class="page-item disabled"  {%endif%}>
              <a class="page-link" href="/blog?page={{ pages.prev_num }}"  aria-disabled="true">Previous</a>
            </li>
          
              <li {%if not pages.has_prev%} class="page-item disabled"  {%endif%}>
                <a class="page-link" href="/blog?page={{ page-1 }}">{{page-1}}</a>
            </li>
              
            <li  class="page-item active" aria-current="page">
              <a class="page-link" href="/blog?page={{ page }}">{{page}}</a>
            </li>

            <li {%if not pages.has_next%} class="page-item disabled"  {%endif%}>
              <a class="page-link" href="/blog?page={{ page+1 }}">{{page +1}}</a></li>
            </li>

              <li  {%if not pages.has_next%} class="page-item disabled" {% endif %}>
                <a class="page-link" href="/blog?page={{ pages.next_num }}"  aria-disabled="true">Next</a>
              </li> 
         </ul>          
      
        </nav>

        <style>
          #footer{
            margin-top: 750px !important;;
          }
        </style>
    
  {% endblock %}    