{% extends 'base.html' %}

{% block title %}
     Page not found
{% endblock %}

{% block content_title %}
     Page not foun ... 404
        
{% endblock %}    

{% block content %}


<!-- <body>
<meta charset="utf-8">
<img src="/app/static/images/404.jpg"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='main.css', v=1)}}">
<div class="container">
    <img src={{ url_for('static', filename='404.png') }} alt='' width="100%" > 
    <h3 style="color:#eeeee7" >Страница не найдена, вернуться на <a href="/">главную</a> страницу. </h3>	
</div> -->




<div id="tekst_sverhu_kartinki">

    <img src="{{ url_for('static', filename='404.png') }}" alt="">
    
    <div class="tekst_sverhu_kartinki_1">
    
  
    
    <span>  Страница не найдена вернуться на <a href="/">главную</a> страницу.</span>
    
    </div>
    
    </div>


{% endblock %}






