{% extends 'base.html' %}

{% block title %}
     Page not found
{% endblock %}

{% block content_title %}

        
{% endblock %}    

{% block content %}
<style>
.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
</style>


<div class="container">
    <img src={{ url_for('static', filename='404.png') }} alt='' width="100%" > 
    <div  class="centered" >Страница не найдена, вернуться на <a href="/">главную</a> страницу. </div>	
</div>






{% endblock %}






