{% extends 'base.html' %}

{% block title %}
  
    {{ post.title }}

{% endblock %}

{% block content_title %}
     
    {{ post.title }}
        
{% endblock %}    


{% block content %}

   
{{ post.body }}

    {% for comment in post.comments %}
    
    <br\>
    <li class="comment">
      <div class="comment-content">
        <div class="comment-author">{{ comment.author.username }}</div><div class="comment-date">{{ comment.timestamp }}</div>
        
        <div class="comment-body">{{comment.body}}</div>
     
      </div>
      </li>
              
        
        
    
    
    
    
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"></button>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ url_for('main.delete_comment', slug=slug) }}"
            class="dropdown-item">Delete</a>
        </li>
      </ul>
    </div>
   

    {% endfor %}

    <br />
    <form class="input-group mb-3" method="POST" action="/create-comment/{{post.slug}}">
        <input
          type="text"
          id="text"
          name="text"
          class="form-control"
          placeholder="Comment something!"
        />
       <button type="submit"class="btn btn-primary">Comment</button>
    </form>

{% endblock %}