{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
  
    {{ post.title }}

{% endblock %}


{% block content_title %}
<!--заголовок поста + кнопка видалення поста , для користувачів з рівнем доступу Модератор і вище -->
    <div id="title_p">   
   
     <h3> {{ post.title }} : </h3> 

          <style>
            #title_p{
                display:flex;
            }

            #button_d{
              display: inline-flex;
              margin-left: 900px;
              width: 120px;
              height:30px; 
                    
            }  
          </style>

     <!-- якщо користувач авторизований + має рівень доступу, відображается кнопка та є можливість  "видалити  пост"-->
    {%if current_user.is_authenticated and  current_user.can(Permission.MODERATE)%}
    <a id="button_d"  class="nav-link active" aria-current="page"  href="{{ url_for('main.delete_post', slug =post.slug) }}">delete post</a>
    {%endif%}

</div> 

{% endblock %}    


{% block content %}
   
    <div id="text_post"> 
      <style>
      #text_post{
          max-width: 960px;
          margin: 30px auto;
          padding: 0 15px;
          background: white; }  
      </style>
 
     <!--тіло поста  -->
      {{ post.body }} 

    </div>
    <div class="comment-form">
      {{ wtf.quick_form(form) }}
    </div>
    <h4 id="comments">Comments:</h4>
    <br>
    
    
         
      {% for comment in pages.items %}
      <!--відображення коментарів -->
      <ul class="comment">
        <div class="comment-content">
        <div class="comment-author">{{ comment.author.username }}</div><div class="comment-date">{{ comment.timestamp.strftime("%d/%m/%y %I:%M:%S")  }}</div>
        
        <div class="comment-body">{{comment.body}}</div>
    
        </div>
      </ul>


        <!--кнопка видалення  коментаря, для користувача який створив його або має відповідний рівень доступу  -->
        <div class="btn-group">
          <button id="button_del"
            type="button"
            class="btn btn-sm btn-primary dropdown-toggle"
            data-bs-toggle="dropdown"></button>
          <ul class="dropdown-menu" id="del_buttn">
            <li>
              <br>
              
              <style>

                #del_buttn{
                  min-width: 6rem;
                  line-height: 0.8;
                }

                #button_del{
                  line-height: 0.8;
                 }  
              </style>
           
              <a  href="/delete-comment/{{comment.id}}"
                class="dropdown-item">Delete</a>
                <br>  
            </li>
          </ul>
          
        </div>

        <br> 
      {% endfor %}
        <br>
      
  

          {% if post.comments.count() > 0 %}
      
            <span class="label label-primary">{{ post.comments.count() }} comments</span>
          
          {%endif%}

        
  
        <br>
        
       <nav> 
        <br>
      <ul class="pagination" >
       
            <li {%if not pages.has_prev%} class="page-item disabled"  {%endif%}>
              <a class="page-link" href="./?page={{ pages.prev_num }}"  aria-disabled="true">Previous</a>
            </li>
           
          
              <li {%if not pages.has_prev%} class="page-item disabled"  {%endif%}>
                <a class="page-link" href="./?page={{ page-1 }}">{{page-1}}</a>
            </li>
              
            <li  class="page-item active" aria-current="page">
              <a class="page-link" href="./?page={{ page }}">{{page}}</a>
            </li>

            <li {%if not pages.has_next%} class="page-item disabled"  {%endif%}>
              <a class="page-link" href="./?page={{ page+1 }}">{{page +1}}</a></li>
            </li>


              <li  {%if not pages.has_next%} class="page-item disabled" {% endif %}>
                <a class="page-link" href="./?page={{ pages.next_num }}"  aria-disabled="true">Next</a>
              </li> 
         </ul>          
      
        </nav>


{% endblock %}